body {
  max-width: 800px;
  margin: 0 auto;
}

p {
  font-weight: bold;
}


legend {
  max-width: 130px;
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
}

